#root > div{
	height: 100%;
}
.chat-container{
	float: left;
	height: 100%;
	width: 100%;
}

.vertical-center {
  height:300px;
  width:100%;
  font: 0/0 a;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}